body {
  margin: 0;
  font-family: inter ,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wraper {
position: absolute;
width: 1180px;
height: 1520px;
margin: 50px 70px auto;
background-color: rgb(112, 85, 85);
border-radius: 5px;

}

.content{
  display: flex;
  justify-content: space-between;
  
   
}

.searchblock{
  border: 1px;
  padding-right: 10px;
  border-radius: 2px;
}

input{
  padding: 8px;
  border-radius: 3px;


}

header {
  display: flex;
  justify-content: space-between;
}

.headerleft{
  display: flex;
  align-items: center;
}

.headerright {
  display: flex;
  list-style: none;
}

img {
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  
}

.card{
  border: 1px solid #fff;
  padding: 20px;
  width: 210px;
  margin-left: 10px;
  border-radius: 20px;
}

.card:hover{
  box-shadow: 0px 14px 30px rgb(218, 187, 187);
  transform: translateY(-5px);
  }

.fevorit{
  position: absolute;
  cursor: pointer;
}

.snaekers{
  display: flex;
}

.cardbutton{
  display: flex;
  align-items: center;  
}

button{
  margin-left: 50px;
  cursor: pointer ;
}

.drawer{
  position: absolute;
  background: #fff;
  width: 385px;
  box-shadow: 10px 4px 24px rgb(112, 85, 85);
  right: 0;
  height: 100%;
  padding-top: 10px;
  padding-left: 30px;
}

.cartitem{
  display: flex;
  border: 1px solid red;
  border-radius: 2px;
  margin-right: 10px;
  margin-top: 20px;
}

.cardtotalblok{
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-left: 3px;
  padding-right: 35px;
 }

 .buttonpay{
  border-radius: 5px;
  background: rgb(131, 207, 69);
  margin-left: 3px;
  width: 350px;
  height: 55px;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
 }